@font-face {
    font-family: formulaBold;
    src: url("../fonts/Formula1-Bold_web_0.ttf");
}

@font-face {
    font-family: formula;
    src: url("../fonts/Formula1-Regular_web_0.ttf");
}


table {
    max-width: 90vw;
    margin: 50px auto;
     border: 50px solid white;
    //border-radius: 20px;
    //rgb(113, 182, 228);
    background-color: white;

    .table-header {

        th {
            font-weight: bold;
            font-size: medium;
            background-color: #19553b;
            color: #b3c6be;
            font-family: formulaBold;

        }
    }

    tr {
        font-family: formula;

        &:hover {
            background-color: lightgray;
        }
    }
}

.driverDetails {
    display: flex
}

.tableContainer {
   margin-left: 15px;
    //border:7px solid #E10600;
  



}

// .tableContainer {
//     border: crimson!important;
// }

// th {
//     background-color: white;
//     color: black;
// }