table {
  max-width: 90vw;
  margin: 50px auto;
  border: 50px solid #d5ece2;
  background-color: #d5ece2;

  .table-header {
    th {
      font-weight: bold;
      font-size: medium;

      background-color: #004225;
      color: #d5ece2;
      font-family: formulaBold;
    }
  }

  tr {
    font-family: formula;
    background-color: #d5ece2;

    &:nth-child(even) {
      background-color: #aed9c6;
    }

    &:hover {
      background-color: #8bc6ad;
    }
  }

  .driverDetails {
    display: flex;
  }

  .tableContainer {
    margin: auto;
    margin-bottom: 20px;
    background-color: #004225;
  }
}
