body {
    background-color: white;
}

table {
    max-width: 90vw;
    margin: 50px auto;
    //border: 3px solid black;
    //rgb(113, 182, 228);
    background-color: white;
   
   

    .table-header {
        th {
            
            font-weight: bold;
            font-size: large;
           // background-color: grey;
            color: black;
           
   
        }
    }

    tr {
    
        //   &:nth-child(even) {
        //       background-color: rgb(214, 211, 208);
        //   }
            
        &:hover {
            background-color: grey;
        }
    }
}
.driverDetails {
    display:flex
    
}


// .tableContainer {
//     border: crimson!important;
// }

// th {
//     background-color: white;
//     color: black;
// }