.table-home {
  max-width: 40vw;
  display: flex;
  border: 20px;

  .table-head {
    max-width: 40vw;
  }

  .table-body {
    max-width: 40vw;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.years:nth-child(even) {
  background-color: #004225;
  color: #d5ece2;
}

.years:nth-child(odd) {
  background-color: #d5ece2;
  color: #004225;
  font-weight: 600;
}
