@font-face {
  font-family: formulaWide;
  src: url('../fonts/Formula1-Wide_web_0.ttf');
}

.NavContainer {
  align-items: center;
}

.NavBar {
  min-width: 100vw;
  text-align: center;
  background-color: #004225;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 6px;
  border-bottom: 5px solid #80a192;

  margin-bottom: 6px;

  .nav-link-home {
    display: flex;
    align-items: center;
    margin-right: 20%;
    margin-left: 2%;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    text-align: center !important;
    font-family: formulaBold !important;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nav-link:hover {
    color: #d5ece2;
    background-color: #336851;
  }

  .active {
    color: #d5ece2;
    background-color: #228225;
  }

  a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  h1 {
    margin-top: 30px;
  }
}

a {
  text-decoration: none;
  color: #ccd9d3;
  width: 200px;
}

.homeimg {
  width: 160px;
  margin-left: 2.8vw;
}

.helmet {
  height: 80px;
}

.teams1 {
  height: 80px;
}

.races2 {
  height: 80px;
}