
.NavContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.NavBar {
  min-width: 100%;
  // max-height: 90px;
  text-align: center;
  // flex: 0 0 auto;
  background-color: #E10600;
  //background-color: rgb(90, 21, 21);
  // padding: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom:6px;
  

  .nav-link-home {
    display: flex;
    align-items: center;
    // width: 35%;
    margin-right: 20%;
    margin-left: 2%;
  }.nav-link-home:hover{
    color: white;
    //rgb(40, 113, 248);
    background-color: white;
    //gray;
  // background-color: rgb(255, 136, 0);
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    font-family: 'formula1-display-regular-regular', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nav-link:hover,.nav-link:focus{
    color: black;
    background-color: white;
    //background-color: rgb(255, 136, 0);
  }

  a {
    text-decoration: none;
    color: black;
    //rgb(255, 0, 0);
    // width: 200px;
    //height: 80px;
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  

  ul {
    list-style-type: none;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    
  }

  h1 {
    margin-top: 30px;
  }
}


a {
  text-decoration: none;
  color: rgb(245, 9, 9);
  width: 200px;
  //height: 80px;
  
}

.homeimg {
  width: 200px;
  height: 80px;
  // float: left;
}

.kaciga {
  width: 200px;
  height: 80px;
}

.teams1 {
  width: 200px;
  height: 80px;
}

.races2 {
  width: 200px;
  height: 80px;
  mix-blend-mode: multiply;
}
