@font-face {
   font-family: formula;
   src: url("../fonts/Formula1-Regular_web_0.ttf");
}
@font-face {
   font-family: formulaBold;
   src: url("../fonts/Formula1-Bold_web_0.ttf");
}

.table-const-race {
   margin-top: 20px;
   display: flex;
   width: 90%;
   justify-content: center;
   align-items: start;

   .detailsBody {
      margin-top: 50px;
      background-color: #fff;
      font-family: formula;
   }

}

.team-details {
   margin-top: 15px;
   display: flex;
   height: 250px;
   background-color: #fff;
   border: 7px solid #822522;
   align-items: center;
   font-family: formula;
   padding: 20px;
   border-radius: 10px;

   h2 {
      font-size: 22px;
      font-weight: bold;
      padding-bottom: 12px;
   }

   .name-details {
      padding-top: 40px;
   }

   p {
      padding: 3px 0;
      font-size: 18px;
      font-weight: bold;
   }

}

.details-btn {
   a {
      border-radius: 4px;
    font-family: formula;
      padding: 3px 12px;
     
   }

   a:hover {
    
      color: #7d9876 ;
   }
}

.tableRow-cell {
   font-family: formula !important;
  
   font-size:12px !important;
 

}
.tableRow-boldCell {
   font-family: formulaBold !important;
   font-size: 14px !important;
}