


.table-header {
    background-color: rgba(169, 169, 169, 0.404);
    color: aliceblue;
    border-radius: 15px;
    
    
    TableCell {
        background-color: aquamarine;
         font-size: 18px;
        border-radius: 15px;
     }
}
