


.team-details {
    border:7px solid dodgerblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     padding: 20px;
     .name-details {
        padding-top: 10px;
     }
     p {
        padding: 3px 0;
        font-size: 18px;
        font-weight: bold;
     }
    h1 {
        border-bottom: 3px solid grey;
        font-size: 22px;
        padding-bottom: 10px;
        color: rgb(89, 89, 89);
    }
}
