@import '../scss/_cssreset.scss';
@import '../scss/_Navigation.scss';
@import '../scss/Home.scss';
@import '../scss/BreadCrumb.scss';
@import '../scss/_Teams.scss';
@import '../scss/Drivers.scss';
@import '../scss/backToTop.scss';

@font-face {
  font-family: formulaBold;
  src: url('../fonts/Formula1-Bold_web_0.ttf');
}

@font-face {
  font-family: formula;
  src: url('../fonts/Formula1-Regular_web_0.ttf');
}

@font-face {
  font-family: formulaWide;
  src: url('../fonts/Formula1-Wide_web_0.ttf');
}

body {
  font-family: formula, 'Open Sans', sans-serif;
  background-color: #004225;
}

.gold {
  background-color: #ffffbf;
}

.silver {
  background-color: #dfdfdf;
}

.bronze {
  background-color: #ffdf9f;
}

.green {
  background-color: #dfffdf;
}

.gray {
  background-color: darkgray;
}

.fastest_lap_1 {
  background-color: #f3aff3 !important;
}

.mouseHandle {
  cursor: pointer;
  font-weight: bold !important;

  &:hover {
    color: #257b56;
  }
}

.flagName {
  display: flex;
  align-items: center;
  margin: 10px;

  margin-left: 0;

  span {
    padding: 0 4px;
  }
}

.footer-team {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #095534;
  color: #50a17e;
  text-align: center;
  border-top: 1px solid #aed9c6;
  height: 15px;
  padding-bottom: 28px;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

.footer-item {
  font-size: 0.8rem;
}

@media screen and (max-width: 900px) {
  .font-responsive {
    font-size: 11px !important;
    margin-bottom: 5px !important;
    padding-bottom: 5px !important;
  }

  .height-responsive {
    height: 50px !important;
    margin-bottom: 1px !important;
    padding-bottom: 1px !important;
  }

  .width-responsive {
    width: 100px !important;
  }

  .img-responsive {
    width: 75dvw;
  }

  .margin-responsive {
    margin-bottom: 3px !important;
  }

  .flex-responsive {
    align-items: center !important;
  }
}

@media screen and (max-width: 991px) {
  .font-responsive {
    font-size: 11px !important;
    margin-bottom: 5px !important;
    padding-bottom: 5px !important;
  }

  .height-responsive {
    height: 50px !important;
    margin-bottom: 1px !important;
    padding-bottom: 1px !important;
  }

  .width-responsive {
    width: 100px !important;
  }
}