@import "../scss/_cssreset.scss";
@import '../scss/_Navigation.scss';
@import '../scss/_Teams.scss';
@import '../scss/Drivers.scss';

.position_1 {
    background-color: yellow;
}

.position_2 {
    background-color: gray;
}

.position_3 {
    background-color: orange;
}

.position_4 {
    background-color: lightgreen;
}

.position_5 {
    background-color: lightblue;
}

.position_6 {
    background-color: aquamarine;
}

.position_7 {
    background-color: coral;
}

.position_8 {
    background-color: darkseagreen;

}

.position_9 {
    background-color: darksalmon;
}

.position_10 {
    background-color: saddlebrown;
}

.position_11,
.position_12,
.position_13,
.position_14,
.position_15,
.position_16,
.position_17,
.position_18,
.position_19,
.position_20,
.position_21,
.position_22 {
    background-color: darkgray;
}