@import "../scss/_cssreset.scss";
@import '../scss/_Navigation.scss';
@import '../scss/_Teams.scss';
@import '../scss/Drivers.scss';

.position_1 {
    background-color: #FFFFBF;
}

.position_2 {
    background-color: #DFDFDF;
}

.position_3 {
    background-color: #FFDF9F;
}

.position_4,
.position_5,
.position_6,
.position_7,
.position_8,
.position_9,
.position_10 {
    background-color: #DFFFDF;
}

.position_11,
.position_12,
.position_13,
.position_14,
.position_15,
.position_16,
.position_17,
.position_18,
.position_19,
.position_20,
.position_21,
.position_22 {
    background-color: #CFCFFF;
}