.NavContainer {
    display: flex;
    flex-direction: column;
}

.NavBar {
    min-width: 100%;
    max-height: 90px;
    text-align: center;
    flex: 0 0 auto;
    margin: 0px 10px 100px 10px;
}

// .NavBar:active{
//     background-color: aqua;
// }

a {
    text-decoration: none;
    color: red;
    width: 200px;
    height: 80px;
}

.homeimg {
    width: 200px;
    height: 80px;
}

.kaciga {
    width: 200px;
    height: 80px;
}

.teams1 {
    width: 200px;
    height: 80px;
}

.races2 {
    width: 200px;
    height: 80px;
}